<div class="page-background">
  <%= render "layouts/navbar" %>
  <div class="row">
    <div class="col m6 center-align">
      <div class="schedule-list">
        <h4>Where we're headed</h4>
        <ul>
          <% @gigs.each do |gig| %>
            <li><%= gig.date %> <b><%=gig.venue%></b> - <%=gig.location%> <%=gig.start_time%><li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col m6">

    </div>
  </div>
</div>
